*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  align-content: center;
  gap: 30px;
  margin: auto;
  inline-size: 1140px;
  block-size: 534px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3px;
  overflow-y: scroll;
  block-size: 534px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  max-inline-size: 194px;
  block-size: 103px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  margin-block-end: 6px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  padding-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  border: 0;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  padding: 2.5px 5px 2.5px 0;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
  inline-size: 225px;
  block-size: 27px;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:focus-visible {
  outline: 0;
}

/*Валидатор ругается на строчку ниже, не пойму почему*/

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #fff;
  inline-size: 20px;
  block-size: 20px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin: 2px;
  background-color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:hover {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.search-form__label:has(.search-form__textfield):hover {
  text-decoration-line: none;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  padding: 6px 0;
  inline-size: 194px;
}

.more-button {
  padding: 6px 0;
  inline-size: 399px;
}

.content__list-item:hover {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:focus {
  outline: none;
}

/*Валидатор ругается на строчку ниже, не пойму почему*/

.content__list-item:has(.content__card-link:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}
